<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="account"
		label="Настройки аккаунта ВК"
		description="" 
	>
		<field
			name="client_id"
			type="text"
			label="ID приложения"
			description="Идентификатор Вашего приложения"
			default=""
		/>
		<field
			name="client_secret"
			type="text"
			label="Защищенный ключ"
			description="Защищенный ключ Вашего приложения"
			default=""
		/>
		<field
			name="user_id"
			type="text"
			label="ID пользователя"
			description="ID страницы пользователя с которым следует проводить синхронизацию альбомов"
			default=""
		/>
	</fieldset>
</config>
