<?xml version="1.0" encoding="utf-8"?>
<form>
<fieldset addfieldpath="/administrator/components/com_vkgallery/models/fields">
	<field 
		name="id" 
		type="text" 
		class="readonly input-large" 
		label="COM_VKGALLERY_ADMIN_FILED_ID_LABEL"
		size="32" 
		default="0"
		readonly="true" />
			
	<field 
		name="title" 
		type="text" 
		class="input-xxlarge" 
		label="COM_VKGALLERY_ADMIN_FILED_TITLE_LABEL"
		required="true" />
		
	<field
		name="type"
		id="visible"
		type="list"
		label="COM_VKGALLERY_ADMIN_FILED_MENU_TYPE_LABEL"
		description="COM_VKGALLERY_ADMIN_FILED_MENU_TYPE_DESCRIPTION"
		class="inputbox"
		size="1"
		default="gallery">
			<option value="elem">COM_VKGALLERY_ADMIN_FILED_MENU_TYPE_MENU</option>
			<option value="gallery">COM_VKGALLERY_ADMIN_FILED_MENU_TYPE_ALBUM</option>
	</field>
		
	<field
		name="parent"
		type="Menus"
		class="input-xxlarge"
		label="COM_VKGALLERY_ADMIN_FILED_PARENT_LABEL"
		required="true" />
		
	<field
		name="album"
		type="Albums"
		class="input-xxlarge"
		label="COM_VKGALLERY_ADMIN_FILED_ALBUM_LABEL" />

	<field 
		name="thumb_src" 
		type="media" 
		label="COM_VKGALLERY_ADMIN_FILED_THUMB_SRC_LABEL" />
		
	<field
		name="visible"
		id="visible"
		type="list"
		label="COM_VKGALLERY_ADMIN_FILED_VISIBLE_LABEL"
		description="COM_VKGALLERY_ADMIN_FILED_VISIBLE_DESCRIPTION"
		class="inputbox"
		size="1"
		default="true">
			<option value="1">COM_VKGALLERY_ADMIN_FILED_VISIBLE_TRUE</option>
			<option value="0">COM_VKGALLERY_ADMIN_FILED_VISIBLE_FALSE</option>
	</field>
</fieldset>
</form>
