.vkg-image-gallery {
	text-align: center;
        margin: 0px 0 10px;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

.vkg-image-gallery>li {
        width : 150px;
        height: 200px;
        margin: 0px 0 20px;
        vertical-align: top;
        text-align: center;

	display: inline-block;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.vkg-image-gallery>li:hover {
	background: #CFCFCF;
}

.vkg-image-gallery>li>.vkg-image {
	display: block;
	padding: 5px;
}

.vkg-image-gallery>li>.vkg-image-title {
	vertical-align: bottom;
}